<% provide :title, t(".title") %>

<div class="login-page-wrapper">
  <div class="image">
    <%= image_tag "background_image.jpg", alt: "Logo", class: "login-image" %>
  </div>

  <div class="main-content">
    <h2><%= t ".heading" %></h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <div class="field-label">
          <i class="fa-solid fa-envelope"></i>
          <%= f.label :email %><br />
        </div>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="actions">
        <%= f.submit t(".submit") %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
