<div class="header">
  <div class="logo">
    <p><%= t "title" %></p>
  </div>

  <div class="search-box">
    <i class="fa-solid fa-magnifying-glass"></i>
    <%= form_with(url: subjects_path, method: :get, local: true, data: { turbo_frame: "_top" }) do |form| %>
      <%= form.text_field :query,
                          value: params[:query],
                          placeholder: t('placeholders.search'),
                          "aria-label": t('placeholders.search') %>
    <% end %>
  </div>

  <div class="avatar-box">
    <% if user_signed_in? %>
      <p><%= current_user.name || current_user.email %></p>
      <div class="avatar">
        <%= image_tag "default_avatar.jpg", alt: "avatar", class: "avatar-image" %>
      </div>
      <%= link_to destroy_user_session_path, title: t("devise.shared.links.sign_out"), data: { turbo_method: :delete } do %>
        <i class="fa-solid fa-right-from-bracket"></i>
      <% end %>
    <% else %>
      <%= link_to t("devise.shared.links.sign_up"), new_user_registration_path, class: "auth-links" %>
      <%= link_to t("devise.shared.links.log_in"), new_user_session_path, class: "auth-links" %>
    <% end %>
  </div>
</div>
