<div class="navbar">
  <ul>
    <li class="active">
      <%= link_to home_path do %>
        <i class="fa-solid fa-house"></i>
        <p><%= t "navbar.home" %></p>
      <% end %>
    </li>
    <li>
      <%= link_to subjects_path do %>
        <i class="fa-solid fa-book-open"></i>
        <p><%= t "navbar.subject" %></p>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fa-solid fa-file"></i>
        <p><%= t "navbar.exam" %></p>
      <% end %>
    </li>
    <li>
      <%= link_to "#" do %>
        <i class="fa-solid fa-file-lines"></i>
        <p><%= t "navbar.result" %></p>
      <% end %>
    </li>
  </ul>

  <% if user_signed_in? %>
    <div class="role">
      <% if current_user.user? %>
        <i class="fa-solid fa-user"></i>
        <p><%= t "role.user" %></p>
      <% elsif current_user.supervisor? %>
        <i class="fa-solid fa-user-tie"></i>
        <p><%= t "role.supervisor" %></p>
      <% end %>
    </div>
  <% end %>
</div>
